* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top-bar {
  width: 90%;
  margin: auto;
  display: flex;
  gap: 50px;
}
.nav {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  align-items: center;
}

nav ul {
  display: flex;
  gap: 10px;
  list-style: none;
}

nav ul li a {
  color: black;
  text-decoration: none;
}

.scl-img {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/Assets/schoo-img.jfif");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.scl-info {
  height: 1500px;
}
